.chamonixImage{
    height:90%;
    width:90%;
    display:block;
    margin-top:10px;
    float:left;
    padding-right:10px;
    
}

.container{
    background-color:#fff7e8;

    height:100vh;
    overflow:auto;
    
}
